<div id="chat-container">
    <div id="chat-window">
        <div id="output">
            <div *ngIf="messages !== null">
                <div *ngFor="let message of messages">
                    <div class="space" [ngClass]="{'offset-6': message.from !== username, 'col-6': message.from === username}">
                        <p><strong>{{message.from}}:</strong> {{message.content}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div id="feedback"></div>
    </div>
    <form (ngSubmit)="sendMessage(messageContent)" #f="ngForm">
        <input type="text"
               id="handle"
               placeholder="Enter your username*"
               [(ngModel)]="username"
               name="username"
               required
               autocomplete="off">
        <input type="text"
               id="message"
               placeholder="Type your message..."
               [(ngModel)]="messageContent"
               name="content"
               autocomplete="off">
        <button id="send" [disabled]="f.invalid">Send</button>
    </form>
</div>


